@import "tailwindcss";

@theme inline {
  --color-hero: #EDE0C8;
  --color-body: #F5F5F0;
  --color-ink: #1a1a1a;
  --color-muted: #888780;
  --font-sans: var(--font-primary);
  --font-mono: var(--font-primary);
}

body {
  background-color: #F5F5F0;
  color: #1a1a1a;
}
